<script type="text/babel">

    class App extends React.Component {

        render = () => {
            return (
                <div className="vertical-align">
                    <div className="container">
                        <div className="avatar"></div>
                        <form method="post" action="/" >

                            <input type="email" placeholder="Email" name="email" />
                            <input type="password" placeholder="Password" name="password"  />
                            <input type="submit" value="Login" />

                        </form>
                    </div>
                </div>
            )
        }
    }

    ReactDOM.render(<App />, document.getElementById('root'))
</script>